/.idea/
/storage/cache/*
/storage/log/*
composer.lock
/nbproject/
/public/upload/*

!/config/default.tar
!.gitkeep

*/**/node_modules/*
npm-debug.log
.DS_Store
._.DS_Store
/nbproject/private/


/storage
